<div class="container pt-3 pb-5">
  <div class="text-center mb-5">
    <h1 class="display-4 fw-bold mb-2">DAC Sports Network</h1>
    <p class="lead text-muted">Your home for live broadcasts of Dallas College athletics</p>
  </div>

  <%= render "event_table", events: @events %>
</div>
